.table{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}
.bg-image{
    background-image: url('../../../assets/images/nav-background.jpg');
}
thead{
    background-color: #172269;
    color: #ffff;
    padding: 20px;
}
tbody{
    height:200px;
    overflow-y:auto;
    width: 100%;
}
button{
    color: #ffff;
}
button:hover{
    background-color: #CF3E3D !important;;
}
button.booking-full{
    background-color: #CF3E3D;
}
button.book-now{
    background-color: #E7702D;
}
.coutdown{
    text-align: left;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 5px;
}
.free-trail{
    color: #EB8851;
    text-align: left;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 40px;
}
.class-schedule{
    font-size: 1.5rem;
    color: #172269;
    text-align: left;
}
.free-seats, .free-seats span{
    text-align: right;
    font-size: 1.2rem;
    color: #585858;
}

.free-seats span{
    color: #EB8851;
}
.badge{
    background-color: black;
    position: relative !important;
    top: -14px !important;
    right: 19px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.cart-badge{
    text-align: right;
    margin-top: 20px;
}